# Toggl URL
toggl: "https://www.toggl.com/api/v8/"

# Redmine url
redmine: "http://redmine.url/"

# Optional incoming webook to mattermost (comment to disable)
mattermost: "http://mattermost.url/"

# List of redmine-toggl api key pairs
entries:
  - label: "entry 1"
    redmine_api_key: "redmine-api-key"
    toggl_api_key: "toggl-api-key"

  - label: "entry 2"
    redmine_api_key: "redmine-api-key2"
    toggl_api_key: "toggl-api-key2"
